main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a.back:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 600px;
}

.receipt {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .total {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .subtotal {
    display: flex;
    justify-content: space-between;
  }

  .payment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    .methods {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      p {
        padding: 1rem;
        border: 1px solid #fff;
        border-radius: 0.5rem;
      }
    }
  }

  button {
    width: fit-content;
    margin-inline: auto;
    padding: 0.75rem 1.5rem;
    background-color: #FFF;
    color: #000;
    border: none;
    border-radius: 0.25rem;
    margin-bottom: 4rem;
  }
}
