a.back {
  margin-right: auto;
  margin-left: 2rem;
  color: #ddd;
}
a.back:hover {
  text-decoration: underline;
}

.weapon {
  display: flex;
  gap: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  padding: 4rem;

  .weapon-desc {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 40%;

    h1 {
      font-size: 2rem;
      border: 1px solid white;
      padding: 2.5rem;
      text-align: center;
    }
  }

  .weapon-details {
    flex-basis: 60%;
    display: flex;
    gap: 2rem;
    flex-direction: column;

    h3 {
      margin-bottom: 0.5rem;
    }
  }

  .weapon-stats {
    display: flex;
    justify-content: space-between;

    .stats,
    .sales {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .price {
      font-size: 1.1  25rem;
      font-weight: bold;
    }
  }

  .sell {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .options {
      display: flex;
      gap: 1rem;
      font-size: 0.875rem;
      align-items: center;

      .option {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid white;
        padding: 0.5rem;
        border-radius: 0.5rem;

        &:hover {
          background-color: #fff;
          cursor: pointer;

          p {
            color: #000;
          }
        }
      }
    }

    .disclaimer {
      font-size: 0.75rem;
      color: #ccc;
    }
  }

  a, button {
    width: fit-content;
    padding-inline: 1.5rem;
  }

  .danger {
    background-color: tomato;
  }
}
